# Pandas

Pandas is used for data manipulation and analysis. It provides special data structures and operations for the manipulation of numerical tables and time series.

<a name="series"></a>
## Data Series
Data series are one of the fundamental data structures in Pandas. You can think of them like a dictionary; they have a key (index) and value (data/values) like a dictionary, but also have some handy functionality attached to them.

In [1]:
import pandas as pd
temperatures = pd.Series([23, 20, 25, 18])
temperatures

0    23
1    20
2    25
3    18
dtype: int64

The values on the left are the index (zero based integers by default) and on the right are the values. Notice that the data type is an integer. Any NumPy datatype is acceptable in a series.

In [2]:
temperatures = pd.Series([23, 20, 25, 18], index=['TOP', 'OUN', 'DAL', 'DEN'])
temperatures

TOP    23
OUN    20
DAL    25
DEN    18
dtype: int64

Now,we can use the index to access and modify elements by/like Dictionary method.

In [3]:
temperatures['DAL']

25

In [4]:
temperatures[['DAL', 'OUN']]

DAL    25
OUN    20
dtype: int64

We can also do basic filtering, math, etc.

In [5]:
temperatures[temperatures > 20]

TOP    23
DAL    25
dtype: int64

In [6]:
temperatures=temperatures+2

In [7]:
temperatures

TOP    25
OUN    22
DAL    27
DEN    20
dtype: int64

And also, We can create a series straight from a dictionary.

In [8]:
dps = {'TOP': 14,
       'OUN': 18,
       'DEN': 9,
       'PHX': 11,
       'DAL': 23}

dewpoints = pd.Series(dps)
dewpoints

DAL    23
DEN     9
OUN    18
PHX    11
TOP    14
dtype: int64

In [9]:
'PHX' in dewpoints

True

In [10]:
'PHX' in temperatures

False

In [11]:
temperatures.name = 'temperature'
temperatures.index.name = 'station'

In [12]:
temperatures

station
TOP    25
OUN    22
DAL    27
DEN    20
Name: temperature, dtype: int64

<a name="loading"></a>
## Loading Data in Pandas
The pandas can manupulating and summarizing large sets of tabular data. We've included a file in this directory called `JAN17_CO_ASOS.txt` that has all of the ASOS observations for several stations in Colorado for January of 2017. It's a few hundred thousand rows of data in a tab delimited format. Let's load it into Pandas.

In [13]:
import pandas as pd

In [14]:
pwd

'/home/htic1/G/Git-myaccount/workshop/python/pakka'

In [15]:
df = pd.read_csv('./data/Jan17_ASOS.txt', sep='\t')

In [16]:
df.head()

  station             valid  tmpc    dwpc    mslp
0     FNL  2017-01-01 00:00      M       M      M
1     FNL  2017-01-01 00:05      M       M      M
2     FNL  2017-01-01 00:10      M       M      M
3     LMO  2017-01-01 00:13   1.00   -7.50      M
4     FNL  2017-01-01 00:15  -3.00   -9.00      M

In [17]:
df = pd.read_csv('./data/Jan17_ASOS.txt', sep='\t', parse_dates=['valid'])

In [18]:
df.head()

  station               valid  tmpc    dwpc    mslp
0     FNL 2017-01-01 00:00:00      M       M      M
1     FNL 2017-01-01 00:05:00      M       M      M
2     FNL 2017-01-01 00:10:00      M       M      M
3     LMO 2017-01-01 00:13:00   1.00   -7.50      M
4     FNL 2017-01-01 00:15:00  -3.00   -9.00      M

In [19]:
df = pd.read_csv('./data/Jan17_ASOS.txt', sep='\t', parse_dates=['valid'], na_values='M')

In [20]:
df.head()

  station               valid   tmpc     dwpc     mslp
0     FNL 2017-01-01 00:00:00     NaN      NaN     NaN
1     FNL 2017-01-01 00:05:00     NaN      NaN     NaN
2     FNL 2017-01-01 00:10:00     NaN      NaN     NaN
3     LMO 2017-01-01 00:13:00     1.0     -7.5     NaN
4     FNL 2017-01-01 00:15:00    -3.0     -9.0     NaN

Let's look in detail at those column names. Turns out we need to do some cleaning of this file. Welcome to real world data analysis.

In [21]:
df.columns

Index(['station', 'valid', ' tmpc ', '  dwpc ', '  mslp'], dtype='object')

In [22]:
df.columns = ['station', 'time', 'temperature', 'dewpoint', 'pressure']

In [23]:
df.head()

  station                time  temperature  dewpoint  pressure
0     FNL 2017-01-01 00:00:00          NaN       NaN       NaN
1     FNL 2017-01-01 00:05:00          NaN       NaN       NaN
2     FNL 2017-01-01 00:10:00          NaN       NaN       NaN
3     LMO 2017-01-01 00:13:00          1.0      -7.5       NaN
4     FNL 2017-01-01 00:15:00         -3.0      -9.0       NaN

<a name="missing"></a>
## Missing Data
We've already dealt with some missing data by turning the 'M' string into actual NaN's while reading the file in. We can do one better though and delete any rows that have all values missing. There are similar operations that could be performed for columns. You can even drop if any values are missing, all are missing, or just those you specify are missing.

In [24]:
len(df)

169658

In [25]:
df = df.dropna(axis='rows', how='all', subset=['temperature', 'dewpoint', 'pressure'])

In [26]:
len(df)

72550

df.head()

Each column has a name associated with it, also known as a label. The labels for our columns are 'station', 'time', 'temperature', and 'pressure'.

In pandas data frames, each row also has a name. By default, this label is just the row number. However, you can set one of your columns to be the index of your DataFrame, which means that its values will be used as row labels.

In [27]:
df.set_index('station',inplace=True)

To pick out one of the DataFrame's columns to work on.
we can do that makes our commands easy to interpret as always include both the row index and the column index that we are interested in. In this case, we are interested in all of the rows, use a colon in row index.
To indicate Column, we need to represent the label.

<a name="missing"></a>
## Use loc[] to choose rows and columns by label. Use iloc[] to choose rows and columns by position.

In [28]:
df.loc[:,'temperature']

station
LMO     1.00
FNL    -3.00
1V6     0.00
0CO   -12.00
LMO    -0.22
1V6     0.00
FNL    -3.00
0CO   -12.00
LMO    -2.00
FNL    -3.00
1V6     0.00
0CO   -12.00
LMO    -3.39
FNL    -4.00
1V6     0.00
0CO   -12.00
LMO    -4.11
1V6     0.00
FNL    -4.00
LMO    -5.28
1V6     0.00
FNL    -3.00
0CO   -12.00
LMO    -5.39
1V6     0.00
FNL    -4.00
0CO   -12.00
LMO    -6.39
FNL    -4.00
1V6     0.00
       ...
1V6     0.00
0CO    -2.00
LMO    -6.72
1V6     0.00
0CO    -3.00
LMO    -5.22
1V6     0.00
0CO    -3.00
LMO    -5.11
FNL    -8.28
1V6     0.00
0CO    -3.00
LMO    -5.22
0CO    -3.00
1V6    -2.00
LMO    -6.28
1V6    -2.00
0CO    -3.00
LMO    -6.50
FNL    -8.28
1V6    -3.00
0CO    -3.00
LMO    -6.50
0CO    -3.00
1V6    -4.00
LMO    -7.00
1V6    -5.00
0CO    -4.00
LMO    -7.00
FNL    -8.89
Name: temperature, Length: 72550, dtype: float64

Returns a numpy array containing [1, -3, 0 , 4].

In [29]:
df.loc[:,'temperature'].values

array([ 1.  , -3.  ,  0.  , ..., -4.  , -7.  , -8.89])

Now we use the .loc[] function again, this time specifying a row label, and putting a colon in the column position.

In [30]:
df.loc['LMO',:]

                       time  temperature  dewpoint  pressure
station
LMO     2017-01-01 00:13:00         1.00     -7.50       NaN
LMO     2017-01-01 00:34:00        -0.22     -8.22       NaN
LMO     2017-01-01 00:54:00        -2.00     -8.28       NaN
LMO     2017-01-01 01:14:00        -3.39     -9.11       NaN
LMO     2017-01-01 01:34:00        -4.11     -8.89       NaN
LMO     2017-01-01 01:54:00        -5.28     -9.28       NaN
LMO     2017-01-01 02:14:00        -5.39     -9.22       NaN
LMO     2017-01-01 02:34:00        -6.39    -10.00       NaN
LMO     2017-01-01 02:54:00        -4.78     -8.78       NaN
LMO     2017-01-01 03:14:00        -6.00     -9.22       NaN
LMO     2017-01-01 03:34:00        -6.11     -9.61       NaN
LMO     2017-01-01 03:54:00        -6.78     -9.72       NaN
LMO     2017-01-01 04:14:00        -6.61     -9.72       NaN
LMO     2017-01-01 04:34:00        -7.00     -9.89       NaN
LMO     2017-01-01 04:54:00        -7.11     -9.78       NaN
LMO     2017-01-01 05:14:00        -7.39    -10.11       NaN
LMO     2017-01-01 05:34:00        -7.39    -10.50       NaN
LMO     2017-01-01 05:54:00        -7.50    -10.11       NaN
LMO     2017-01-01 06:14:00        -6.78     -9.11       NaN
LMO     2017-01-01 06:34:00        -6.78     -9.39       NaN
LMO     2017-01-01 06:54:00        -6.00     -8.78       NaN
LMO     2017-01-01 07:14:00        -6.78    -10.00       NaN
LMO     2017-01-01 07:34:00        -7.11    -10.22       NaN
LMO     2017-01-01 07:54:00        -6.28     -9.50       NaN
LMO     2017-01-01 08:14:00        -7.28    -10.50       NaN
LMO     2017-01-01 08:34:00        -7.28    -10.78       NaN
LMO     2017-01-01 08:54:00        -7.11    -10.11       NaN
LMO     2017-01-01 09:14:00        -8.22    -10.89       NaN
LMO     2017-01-01 09:34:00        -7.39    -10.28       NaN
LMO     2017-01-01 09:54:00        -8.22    -11.28       NaN
...                     ...          ...       ...       ...
LMO     2017-12-30 14:15:00       -10.00    -12.00       NaN
LMO     2017-12-30 14:35:00       -10.00    -12.00       NaN
LMO     2017-12-30 14:55:00       -10.00    -12.00       NaN
LMO     2017-12-30 15:15:00       -10.11    -12.00       NaN
LMO     2017-12-30 15:35:00        -9.72    -11.61       NaN
LMO     2017-12-30 15:55:00        -9.72    -11.72       NaN
LMO     2017-12-30 16:15:00        -9.61    -11.72       NaN
LMO     2017-12-30 16:35:00        -9.11    -11.39       NaN
LMO     2017-12-30 16:55:00        -9.00    -11.50       NaN
LMO     2017-12-30 17:15:00        -8.78    -11.39       NaN
LMO     2017-12-30 17:35:00        -8.50    -11.50       NaN
LMO     2017-12-30 17:55:00        -8.11    -11.28       NaN
LMO     2017-12-30 18:15:00        -7.61    -11.11       NaN
LMO     2017-12-30 18:35:00        -7.61    -11.50       NaN
LMO     2017-12-30 18:55:00        -7.61    -11.89       NaN
LMO     2017-12-30 19:15:00        -6.89    -11.61       NaN
LMO     2017-12-30 19:35:00        -6.22    -11.50       NaN
LMO     2017-12-30 19:55:00        -5.89    -11.89       NaN
LMO     2017-12-30 20:15:00        -4.89    -11.39       NaN
LMO     2017-12-30 20:35:00        -4.61    -11.78       NaN
LMO     2017-12-30 20:55:00        -4.89    -11.89       NaN
LMO     2017-12-30 21:15:00        -6.72    -12.50       NaN
LMO     2017-12-30 21:35:00        -5.22    -11.61       NaN
LMO     2017-12-30 21:55:00        -5.11    -11.89       NaN
LMO     2017-12-30 22:15:00        -5.22    -11.61       NaN
LMO     2017-12-30 22:35:00        -6.28    -12.00       NaN
LMO     2017-12-30 22:55:00        -6.50    -11.78       NaN
LMO     2017-12-30 23:15:00        -6.50    -11.50       NaN
LMO     2017-12-30 23:35:00        -7.00    -11.28       NaN
LMO     2017-12-30 23:55:00        -7.00    -11.00       NaN

[24370 rows x 4 columns]

If we only want a single value, for instance the value of temperature from LMO, then we can specify the labels for both the row and the column. The row always comes first.

In [31]:
df.loc['LMO','temperature']

station
LMO     1.00
LMO    -0.22
LMO    -2.00
LMO    -3.39
LMO    -4.11
LMO    -5.28
LMO    -5.39
LMO    -6.39
LMO    -4.78
LMO    -6.00
LMO    -6.11
LMO    -6.78
LMO    -6.61
LMO    -7.00
LMO    -7.11
LMO    -7.39
LMO    -7.39
LMO    -7.50
LMO    -6.78
LMO    -6.78
LMO    -6.00
LMO    -6.78
LMO    -7.11
LMO    -6.28
LMO    -7.28
LMO    -7.28
LMO    -7.11
LMO    -8.22
LMO    -7.39
LMO    -8.22
       ...
LMO   -10.00
LMO   -10.00
LMO   -10.00
LMO   -10.11
LMO    -9.72
LMO    -9.72
LMO    -9.61
LMO    -9.11
LMO    -9.00
LMO    -8.78
LMO    -8.50
LMO    -8.11
LMO    -7.61
LMO    -7.61
LMO    -7.61
LMO    -6.89
LMO    -6.22
LMO    -5.89
LMO    -4.89
LMO    -4.61
LMO    -4.89
LMO    -6.72
LMO    -5.22
LMO    -5.11
LMO    -5.22
LMO    -6.28
LMO    -6.50
LMO    -6.50
LMO    -7.00
LMO    -7.00
Name: temperature, Length: 24370, dtype: float64

We don’t have to limit ourselves to a single row or single column using this method. Here, in the row position we pass a list of labels. This returns a set of rows, rather than just one.

In [32]:
df.loc[['LMO','FNL'],:]

                       time  temperature  dewpoint  pressure
station
LMO     2017-01-01 00:13:00         1.00     -7.50       NaN
LMO     2017-01-01 00:34:00        -0.22     -8.22       NaN
LMO     2017-01-01 00:54:00        -2.00     -8.28       NaN
LMO     2017-01-01 01:14:00        -3.39     -9.11       NaN
LMO     2017-01-01 01:34:00        -4.11     -8.89       NaN
LMO     2017-01-01 01:54:00        -5.28     -9.28       NaN
LMO     2017-01-01 02:14:00        -5.39     -9.22       NaN
LMO     2017-01-01 02:34:00        -6.39    -10.00       NaN
LMO     2017-01-01 02:54:00        -4.78     -8.78       NaN
LMO     2017-01-01 03:14:00        -6.00     -9.22       NaN
LMO     2017-01-01 03:34:00        -6.11     -9.61       NaN
LMO     2017-01-01 03:54:00        -6.78     -9.72       NaN
LMO     2017-01-01 04:14:00        -6.61     -9.72       NaN
LMO     2017-01-01 04:34:00        -7.00     -9.89       NaN
LMO     2017-01-01 04:54:00        -7.11     -9.78       NaN
LMO     2017-01-01 05:14:00        -7.39    -10.11       NaN
LMO     2017-01-01 05:34:00        -7.39    -10.50       NaN
LMO     2017-01-01 05:54:00        -7.50    -10.11       NaN
LMO     2017-01-01 06:14:00        -6.78     -9.11       NaN
LMO     2017-01-01 06:34:00        -6.78     -9.39       NaN
LMO     2017-01-01 06:54:00        -6.00     -8.78       NaN
LMO     2017-01-01 07:14:00        -6.78    -10.00       NaN
LMO     2017-01-01 07:34:00        -7.11    -10.22       NaN
LMO     2017-01-01 07:54:00        -6.28     -9.50       NaN
LMO     2017-01-01 08:14:00        -7.28    -10.50       NaN
LMO     2017-01-01 08:34:00        -7.28    -10.78       NaN
LMO     2017-01-01 08:54:00        -7.11    -10.11       NaN
LMO     2017-01-01 09:14:00        -8.22    -10.89       NaN
LMO     2017-01-01 09:34:00        -7.39    -10.28       NaN
LMO     2017-01-01 09:54:00        -8.22    -11.28       NaN
...                     ...          ...       ...       ...
FNL     2017-12-30 13:56:00       -12.78    -14.39    1024.3
FNL     2017-12-30 14:22:00       -13.00    -14.00       NaN
FNL     2017-12-30 14:44:00       -13.00    -14.00       NaN
FNL     2017-12-30 14:56:00       -13.28    -15.00    1024.1
FNL     2017-12-30 15:04:00       -13.00    -15.00       NaN
FNL     2017-12-30 15:08:00       -13.00    -15.00       NaN
FNL     2017-12-30 15:13:00       -13.00    -14.00       NaN
FNL     2017-12-30 15:45:00       -13.00    -15.00       NaN
FNL     2017-12-30 15:56:00       -13.28    -15.00    1024.2
FNL     2017-12-30 16:04:00       -13.00    -15.00       NaN
FNL     2017-12-30 16:25:00       -13.00    -15.00       NaN
FNL     2017-12-30 16:47:00       -13.00    -14.00       NaN
FNL     2017-12-30 16:56:00       -12.78    -14.39    1023.3
FNL     2017-12-30 17:06:00       -13.00    -14.00       NaN
FNL     2017-12-30 17:22:00       -12.00    -14.00       NaN
FNL     2017-12-30 17:30:00       -13.00    -14.00       NaN
FNL     2017-12-30 17:49:00       -12.00    -14.00       NaN
FNL     2017-12-30 17:56:00       -12.22    -14.39    1022.7
FNL     2017-12-30 18:01:00       -12.00    -14.00       NaN
FNL     2017-12-30 18:08:00       -12.00    -14.00       NaN
FNL     2017-12-30 18:13:00       -12.00    -15.00       NaN
FNL     2017-12-30 18:22:00       -12.00    -14.00       NaN
FNL     2017-12-30 18:33:00       -12.00    -14.00       NaN
FNL     2017-12-30 18:56:00       -11.11    -13.89    1020.8
FNL     2017-12-30 19:23:00       -11.00    -14.00       NaN
FNL     2017-12-30 19:56:00       -10.00    -12.22    1018.7
FNL     2017-12-30 20:56:00       -10.00    -12.78    1017.1
FNL     2017-12-30 21:56:00        -8.28    -12.22    1016.7
FNL     2017-12-30 22:56:00        -8.28    -11.72    1015.9
FNL     2017-12-30 23:56:00        -8.89    -12.22    1016.2

[35874 rows x 4 columns]

In [33]:
df.loc[:,'temperature':'dewpoint']

         temperature  dewpoint
station
LMO             1.00     -7.50
FNL            -3.00     -9.00
1V6             0.00     -9.00
0CO           -12.00    -18.00
LMO            -0.22     -8.22
1V6             0.00     -9.00
FNL            -3.00     -8.00
0CO           -12.00    -18.00
LMO            -2.00     -8.28
FNL            -3.00     -8.00
1V6             0.00     -8.00
0CO           -12.00    -18.00
LMO            -3.39     -9.11
FNL            -4.00     -8.00
1V6             0.00     -8.00
0CO           -12.00    -18.00
LMO            -4.11     -8.89
1V6             0.00     -8.00
FNL            -4.00     -8.00
LMO            -5.28     -9.28
1V6             0.00     -8.00
FNL            -3.00     -7.00
0CO           -12.00    -19.00
LMO            -5.39     -9.22
1V6             0.00     -8.00
FNL            -4.00     -8.00
0CO           -12.00    -18.00
LMO            -6.39    -10.00
FNL            -4.00     -8.00
1V6             0.00     -8.00
...              ...       ...
1V6             0.00     -7.00
0CO            -2.00     -9.00
LMO            -6.72    -12.50
1V6             0.00     -7.00
0CO            -3.00     -9.00
LMO            -5.22    -11.61
1V6             0.00     -7.00
0CO            -3.00    -10.00
LMO            -5.11    -11.89
FNL            -8.28    -12.22
1V6             0.00     -8.00
0CO            -3.00    -10.00
LMO            -5.22    -11.61
0CO            -3.00    -10.00
1V6            -2.00     -8.00
LMO            -6.28    -12.00
1V6            -2.00     -8.00
0CO            -3.00    -10.00
LMO            -6.50    -11.78
FNL            -8.28    -11.72
1V6            -3.00     -8.00
0CO            -3.00    -10.00
LMO            -6.50    -11.50
0CO            -3.00    -10.00
1V6            -4.00     -9.00
LMO            -7.00    -11.28
1V6            -5.00    -10.00
0CO            -4.00    -10.00
LMO            -7.00    -11.00
FNL            -8.89    -12.22

[72550 rows x 2 columns]

we can select rows or columns where the value meets a certain condition.In this case, we want to find the rows where the values of the 'temperature' column are greater than -5.

df.loc[df.loc[:,'temperature']>-5,:]

<a name="series"></a>
## iloc[]

As an alternative to selecting rows and columns by their labels, we can also select them by their row and column number.

To select all the columns in the zeroth row, we write .iloc[0, ;]

In [34]:
df.iloc[0,:]

time           2017-01-01 00:13:00
temperature                      1
dewpoint                      -7.5
pressure                       NaN
Name: LMO, dtype: object

we can select a column by position, by putting the column number we want in the column position of the .iloc[] function.

In [35]:
df.iloc[0,2]

-7.5

we can get a all row with specific columns

In [36]:
df.iloc[:,0:2]

                       time  temperature
station
LMO     2017-01-01 00:13:00         1.00
FNL     2017-01-01 00:15:00        -3.00
1V6     2017-01-01 00:15:00         0.00
0CO     2017-01-01 00:23:00       -12.00
LMO     2017-01-01 00:34:00        -0.22
1V6     2017-01-01 00:35:00         0.00
FNL     2017-01-01 00:35:00        -3.00
0CO     2017-01-01 00:43:00       -12.00
LMO     2017-01-01 00:54:00        -2.00
FNL     2017-01-01 00:55:00        -3.00
1V6     2017-01-01 00:55:00         0.00
0CO     2017-01-01 01:03:00       -12.00
LMO     2017-01-01 01:14:00        -3.39
FNL     2017-01-01 01:15:00        -4.00
1V6     2017-01-01 01:15:00         0.00
0CO     2017-01-01 01:23:00       -12.00
LMO     2017-01-01 01:34:00        -4.11
1V6     2017-01-01 01:35:00         0.00
FNL     2017-01-01 01:35:00        -4.00
LMO     2017-01-01 01:54:00        -5.28
1V6     2017-01-01 01:55:00         0.00
FNL     2017-01-01 01:55:00        -3.00
0CO     2017-01-01 02:03:00       -12.00
LMO     2017-01-01 02:14:00        -5.39
1V6     2017-01-01 02:15:00         0.00
FNL     2017-01-01 02:15:00        -4.00
0CO     2017-01-01 02:23:00       -12.00
LMO     2017-01-01 02:34:00        -6.39
FNL     2017-01-01 02:35:00        -4.00
1V6     2017-01-01 02:35:00         0.00
...                     ...          ...
1V6     2017-12-30 21:10:00         0.00
0CO     2017-12-30 21:12:00        -2.00
LMO     2017-12-30 21:15:00        -6.72
1V6     2017-12-30 21:30:00         0.00
0CO     2017-12-30 21:30:00        -3.00
LMO     2017-12-30 21:35:00        -5.22
1V6     2017-12-30 21:50:00         0.00
0CO     2017-12-30 21:54:00        -3.00
LMO     2017-12-30 21:55:00        -5.11
FNL     2017-12-30 21:56:00        -8.28
1V6     2017-12-30 22:10:00         0.00
0CO     2017-12-30 22:12:00        -3.00
LMO     2017-12-30 22:15:00        -5.22
0CO     2017-12-30 22:30:00        -3.00
1V6     2017-12-30 22:30:00        -2.00
LMO     2017-12-30 22:35:00        -6.28
1V6     2017-12-30 22:50:00        -2.00
0CO     2017-12-30 22:53:00        -3.00
LMO     2017-12-30 22:55:00        -6.50
FNL     2017-12-30 22:56:00        -8.28
1V6     2017-12-30 23:10:00        -3.00
0CO     2017-12-30 23:12:00        -3.00
LMO     2017-12-30 23:15:00        -6.50
0CO     2017-12-30 23:30:00        -3.00
1V6     2017-12-30 23:30:00        -4.00
LMO     2017-12-30 23:35:00        -7.00
1V6     2017-12-30 23:50:00        -5.00
0CO     2017-12-30 23:54:00        -4.00
LMO     2017-12-30 23:55:00        -7.00
FNL     2017-12-30 23:56:00        -8.89

[72550 rows x 2 columns]

we can get a all column with specific rows

In [37]:
df.iloc[1:3,:]

                       time  temperature  dewpoint  pressure
station
FNL     2017-01-01 00:15:00         -3.0      -9.0       NaN
1V6     2017-01-01 00:15:00          0.0      -9.0       NaN